@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model HouseDetailViewModel

}

<div id="detailProduct" class="container">
    <div id="titleDetail">
        <div id="title"> @Model.House.HouseTitle</div>
        <div id="ngayDang"><i> Ngày đăng: @Model.House.CreatedAt </i></div>
    </div>
    <div id="description">
        <div>
            <p style="margin-bottom:1rem ; font-size:2rem"><b>Phòng mới, đẹp, khép kín, không chung chủ.</b></p>
            <p>
                - @Model.House.Desciption
            </p>
            <p>- Giá: @string.Format("{0:#,#} triệu đồng / tháng", @Model.House.Price).</p>
            <p>- Địa chỉ: @Model.House.Address</p>
        </div>
        <div style="display: flex; margin-bottom: 1rem; margin-top:1rem;">
            <span id="price" style="flex: 1">
                Giá: <span class="highLight">@string.Format("{0:#,#} triệu đồng / tháng", @Model.House.Price)</span>
            </span>
            <span id="acreage" style="flex: 1">
                Diện tích: <span class="highLight">@Model.House.Acreage m2</span>
            </span>
        </div>
        <span class="mainDetail" id="address">
            Địa chỉ:
            <span id="detailAddress">@Model.House.Address</span>
        </span>
        <div id="imageRoomBlock">
            @foreach (var image in Model.Images)
            {
                <img class="imageDetail @(image == Model.Images[0] ? "imageDetailActive" : "")"
                     src="@image.Url"
                     alt="" />
            }
        </div>
        <div id="imageRoomBlockSmall">
            @foreach (var image in Model.Images)
            {
                <img class="imageDetailSmall @(image == Model.Images[0] ? "imageDetailSmallActive" : "")"
                     src="@image.Url"
                     alt="" />
            }
        </div>
        <!-- <div class="id">Google Map</div> -->

        <button id="book_room">Đặt xem phòng</button>
        <div id="note">
            <h4>Lưu ý:</h4>
            <p>
                Nếu có thắc mắc/phản ánh thông tin phòng trọ, vui lòng liên hệ với
                đội ngũ hỗ trợ khách hàng của chúng tôi qua:
            </p>
            <p>- Đường dây nóng: 0987654321</p>
            <p>- Email: fakeEmail@gmail.com</p>
        </div>
        <div id="go_home">
            <a href="/"> <i>Quay về trang chính</i></a>
        </div>
    </div>
</div>
<div id="bookingModal" style="font-size:1.5rem" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size:2rem; text-align:center ; color:#0481A0;font-weight:bold">Đặt Phòng</h5>
                <button type="button" style="font-size:2rem" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h6 style="font-size:2rem ;font-weight:bold">Thông Tin Phòng:</h6>
                <p><strong>Tên:</strong> @Model.House.HouseTitle</p>
                <p><strong>Loại:</strong> @Model.House.HouseType</p>
                <p><strong>Mô Tả:</strong> @Model.House.Desciption</p>

                <h6 style="font-size:1.5rem">Ngày & Giờ:</h6>
                <p><strong>Time:</strong> @Model.House.CreatedAt</p>


                <h6 style="font-size:2rem ;font-weight:bold">Thông Tin Khách Hàng:</h6>
                <div class="form-group">
                    <label for="name">Tên:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email">
                </div>

                <h6 style="color:#0481A0">Note:</h6>
                <textarea class="form-control" rows="3"></textarea>
                <div style="color:red">
                    <h6>Tổng Chi Phí:</h6>
                    <p><strong>@string.Format("{0:#,#} triệu đồng / tháng", @Model.House.Price) </strong></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" id="Xacnhandatphong" class="btn btn-primary">Xác Nhận Đặt Phòng</button>
            </div>
        </div>
    </div>
</div>
<script>
    const imgSmalls = document.querySelectorAll('.imageDetailSmall')
    const imgBigs = document.querySelectorAll('.imageDetail')
    console.log(imgBigs)
    imgSmalls.forEach((item, index) => {
        item.onclick = function () {
            document.querySelector('.imageDetail.imageDetailActive').classList.remove('imageDetailActive')
            document.querySelector('.imageDetailSmall.imageDetailSmallActive').classList.remove('imageDetailSmallActive')
            imgBigs[index].classList.add('imageDetailActive')
            item.classList.add('imageDetailSmallActive')
        }
    })
    $(document).ready(function () {
        $("#book_room").click(function () {
            $("#bookingModal").modal('show');
        });
        $("#Xacnhandatphong").click(function () {
            $("#bookingModal").modal('hide');
        });

    });
</script>